<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="">
          <span class="d-none d-lg-block">Movie</span>
        </a>
        <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
      </div><!-- End Logo -->
      </div>
      <div class="col">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies">Movies</a>
          </li>
          <li *ngIf="isAuth" class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li *ngIf="isAuth" class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
          </li>
          <li *ngIf="!isAuth" class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li *ngIf="!isAuth" class="nav-item">
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none">
        <a routerLink="" class="nav-link">Movies</a>
      </li>
      <li class="nav-item d-block d-lg-none">
        <a routerLink="" class="nav-link">Login</a>
      </li>
      <li class="nav-item d-block d-lg-none">
        <a routerLink="" class="nav-link">Signup</a>
      </li>
    </ul>
  </nav> -->
</header>
